#container {
    width: 936px;
    display: flex;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid #000;
}

#left {
    width: 240px;
    background-color: #f2f2f2;
    height: 335px;
    border: 2px solid #000;
}

#middle {
    width: 568px;
    height: 339px;
    background-color: rgb(0, 0, 106);
    padding: 35px;
    box-sizing: border-box;
    border: 2px solid #000;
}

#right {
    width: 128px;
    height: 335px;
    background-color: rgb(0, 0, 106);
    border: 2px solid #000;
}

#vierkant {
    width: 90px;
    height: 90px;
    margin-left: 20px;
    margin-top: 20px;
    background-color: white;
}

#vierKant2 {
    width: 0x;
    height: 20px;
    margin-left: 0px;
    margin-top: 10px;
    background-color:
        rgb(0, 0, 106);
}

#spoor {

    font-size: 8px;
    margin-left: 40px;
    margin-top: 5px;
    display: inline-block
}

#n18 {
    font-size: 40px;
    margin-left: 40px;
    margin-top: 5px;
    display: inline-block
}

#b {
    font-size: 26px;
    margin-left: 45px;
    margin-top: -20px;
    display: inline-block
}

#vierkant3 {
    width: 500px;
    height: 275px;
    margin-left: 0px;
    margin-top: 0px;
    background-color: white;
}
#imagelogons{
    width:100px;
    margin-left: 30px;
}